body{background-color: #61122f;
	font-size: 16px;
	color: #fff;
font-family: oxygen sans-serif;
}
#navbar-nav{background-color: yellow;
border-radius: 0;
border: 0 solid;
}
#logo-img{display: inline-block;
	background: url("http://localhost:3000/site/img/restaurant-logo_large%20(1).png") no-repeat;
width: 150px;
height: 150px;
margin: 10px 15px 10px 0px;
}
.navbar-brand{
	margin-top:-50px;}